<div class="header">
    <cuppa-slidemenu [menulist]="menuItemsArray" (onItemSelect)="openPath($event)" closeOnCLick="true">
    </cuppa-slidemenu>
    <div class="admin-page-title">
        <p>{{title}}</p>
    </div>
    <button mat-button class="text-white image-btn float-right " (click)="logout()">Выход</button>
    <button mat-button class="image-btn float-right "><img
            src="../../../../assets/media/images/anonim_avatar.jpg" /></button>
    <button mat-button class="search float-right d-none">
        <mat-form-field class="">
            <input type="search" matInput class="matInput" />
            <mat-placeholder>
                <i class="fa fa-search"> Поиск </i>
            </mat-placeholder>
        </mat-form-field>
    </button>
</div>

<div class="wrapper">
    <button mat-raised-button class="action-btn" (click)="openAddForm()">Добавить запрещенный пароль</button>
    <button mat-raised-button class="action-btn" (click)="openImportForm()">Импортировать список паролей</button>
    <mat-form-field class="">
        <input type="search" matInput class="matInput" #search />
        <mat-placeholder>
            <i class="fa fa-search"> Поиск </i>
        </mat-placeholder>
    </mat-form-field>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Пароль </th>
            <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Действия </th>
            <td mat-cell *matCellDef="let element"> <button mat-button class="icon-btn"
                    (click)="removePassword(element.password)"> <i class="fa fa-remove"></i> </button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr>
            <td>
                <mat-form-field class="">
                    <input type="search" matInput class="matInput" #search />
                    <mat-placeholder>
                        <i class="fa fa-search"> Поиск </i>
                    </mat-placeholder>
                </mat-form-field>
            </td>
            <td></td>
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" [length]="dataSource.itemsCount" showFirstLastButtons>
    </mat-paginator>

</div>