.image-btn {
    line-height: 54px;
    & img {
        width: 40px;
        height: 40px;
        border-radius: 24px;
    }
}

.search {
    padding-top: 5px;
    color: #ccc;
    & .fa.fa-search {
        color: #ccc;
    }
    & .mat-form-field-label-wrapper {
        border-bottom: 1px #ccc;
    }
}

.header {
    padding: 0 20px 0 20px;
    border-bottom: 1px solid;
    background: #242939;
    color: #2e3b62;
}

.admin-page-title {
    display: inline-block;
    color: white;
    font-size: 16pt;
    position: relative;
    bottom: 3px;
}

table {
    width: 100%;
}

.icon-btn {
    font-size: 30px;
}

th {
    font-size: 14pt;
}

.action-btn {
    margin: 10px;
}

.spinner-container {
    position: absolute;
    left: 47%;
    right: 47%;
    width: 6%;
}

.d-none {
    display: none;
}