<h1 mat-dialog-title>Импорт списка запрещенных паролей</h1>
<div mat-dialog-content>
    <input-file placeholder="Загрузите файл" [formControl]="configFile">
    </input-file>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Закрыть</button>
    <button mat-button (click)="isSaveEnabled && onSaveClick()" mat-dialog-close cdkFocusInitial
        [disabled]="!isSaveEnabled">Добавить</button>
</div>