<div class="header">
    <cuppa-slidemenu [menulist]="menuItemsArray" (onItemSelect)="openPath($event)" closeOnCLick="true">
    </cuppa-slidemenu>
    <div class="admin-page-title">
        <p>{{title}}</p>
    </div>
    <button mat-button class="text-white image-btn float-right " (click)="logout()">Выход</button>
    <button mat-button class="image-btn float-right "><img
            src="../../../../assets/media/images/anonim_avatar.jpg" /></button>
    <button mat-button class="search float-right d-none">
        <mat-form-field class="">
            <input type="search" matInput class="matInput" />
            <mat-placeholder>
                <i class="fa fa-search"> Поиск </i>
            </mat-placeholder>
        </mat-form-field>
    </button>
</div>

<div class="wrapper">
    <button mat-raised-button class="action-btn" (click)="openEditForm()">Добавить пользователя</button>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Почта </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Телефон </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="isAdmin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Это Админ </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle checked={{element.isAdmin}} (click)="toggleAdmin(element.id)"
                    class="text-white email-phone-toggle">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <ng-container matColumnDef="isBlocked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Заблокирован </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle checked={{element.isBlocked}} (click)="toggleBlock(element.id)"
                    class="text-white email-phone-toggle">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <ng-container matColumnDef="isAccepted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Активирован </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle checked={{element.isAccepted}} (click)="toggleAccept(element.id)"
                    class="text-white email-phone-toggle">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Действия </th>
            <td mat-cell *matCellDef="let element"> <button mat-button class="icon-btn"
                    (click)="openEditForm(element.id)"> <i class="fa fa-edit"></i> </button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>