<h1 mat-dialog-title>Добавление запрещенного пароля</h1>
<div mat-dialog-content>
    <mat-form-field class="example-full-width">
        <input matInput [formControl]="passwordFormControl">
        <mat-placeholder class="placeholder">Введите запрещенный пароль</mat-placeholder>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')">
            Некорректный формат
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Поле не может быть пустым
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Закрыть</button>
    <button mat-button (click)="isSaveEnabled && onSaveClick()" mat-dialog-close cdkFocusInitial
        [disabled]="!isSaveEnabled">Добавить</button>
</div>