.container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin:0 auto;
    width: 60%;
}

.container>* {
    width: 100%;
}

.btn-link {
    padding: 0.85rem 3.5rem;
    border-radius: 60px;
    font-size: 1.1rem;
}

.btn-auth {
    padding: 0.85rem 3.5rem;
    border-radius: 60px;
    background-color: #242939;
    font-size: 1.1rem;
}

input {
    border-radius: 46px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.3rem;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: #ebedf8 !important;
    color: #7f7878;
    font-size: 1.4rem;
}

.placeholder {
    color: #434343;
}

.mat-focused .placeholder {
    color: #ccc;
    font-size: 1.4rem;
}