<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
    <mat-form-field class="example-full-width">
        <input matInput [formControl]="nameFormControl">
        <mat-placeholder class="placeholder">Имя</mat-placeholder>
        <mat-error *ngIf="nameFormControl.hasError('pattern')">
            Некорректный формат
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
            Поле не может быть пустым
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [formControl]="emailFormControl">
        <mat-placeholder class="placeholder">Почта</mat-placeholder>
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Некорректный формат
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Поле не может быть пустым
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [formControl]="phoneFormControl">
        <mat-placeholder class="placeholder">Телефон</mat-placeholder>
        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
            Некорректный формат
        </mat-error>
        <mat-error *ngIf="phoneFormControl.hasError('required')">
            Поле не может быть пустым
        </mat-error>
    </mat-form-field>
    <p>Имеет права администратора</p>
    <mat-slide-toggle [formControl]="isAdminFormControl"></mat-slide-toggle>
    <p>Заблокирован</p>
    <mat-slide-toggle [formControl]="isBlockedFormControl"></mat-slide-toggle>
    <p>Активирован</p>
    <mat-slide-toggle [formControl]="isAcceptedFormControl"></mat-slide-toggle>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Закрыть</button>
    <button mat-button (click)="onSaveClick()" mat-dialog-close cdkFocusInitial>Сохранить</button>
</div>