@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr.css';
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins;
    -ms-text-size-adjust: 10;
}

.auth-body {
    background-color: #ebedf8;
    // background-image: url(assets/media/images/auth_background.jpg);
    background-repeat: no-repeat;
}

.admin-body {
    background-color: #ebedf8;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #434343;
}

.float-right {
    float: right;
}

h3 {
    padding-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.email-phone-toggle {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    & .mat-slide-toggle-thumb {
        width: 20px !important;
        height: 20px !important;
        transform: translate(50%, 50%);
    }
    & .mat-slide-toggle-bar {
        background-color: #000;
        border-radius: 25px !important;
        height: 26px !important;
    }
    & .mat-slide-toggle-thumb-container {
        top: -7px !important;
        left: -10px !important;
    }
    & .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: #000;
    }
    & .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #fff;
    }
}

.example-full-width {
    width: 100%;
}